@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Athiti:wght@300&family=Marck+Script&family=Montserrat:wght@300&family=Shadows+Into+Light+Two&display=swap");


#content{
    max-width:  1600px;
    margin: 0 auto;  
}

header{
    display: grid;
    grid-template-columns: 100px auto;
}

nav{
    
    display: flex;
    justify-content: center;
    z-index: 1;
    float: left;
}

a{
    
    
    text-decoration: none;
    font-family: "Athiti";
    font-weight: bold;
    padding: 50px;
    color: black;
    font-size: 26px;

    

}

nav a:hover{

    display: inline-block;
    color: #9BB282;
   
}

.logo{
    width: 200px;
    padding-left: 200px;
    padding-top: 20px;
    z-index: 1;
}
.home-image{
    float:center
    
}
#living{
    display: grid;
    margin-top: -40px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: 1fr 1fr 1fr;
}

#livingroom {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}     

#livingroom-image{
    width: 100%;
}

footer .social img{
    padding: 25px 50px;
    padding-bottom: 0;
    width: 70px;
    height: 50px;
}

footer{
    background-color:#2A7826;
    color: #FFE4D1;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}



body{
    background-color: white;
    font-family: "Barlow", Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
   
}



.home-title{
    color:#FF7D00;
    font-size: 2em;
    margin-top: 10px;
    font-family: "Barlow", Helvetica, sans-serif;
}  




footer a{
    background-color:#2A7826;
    color:#FFE4D1;
    text-decoration: none;    
}

footer p a:hover {
    text-decoration: underline;
    color: #9BB282;
}  


footer P{
    font-size: 1em;
}

#text{
    position: absolute;
    top: 40%;
    left: 71%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
    
}

#text h1{

    text-align: left;
    z-index: 1;
    margin:0;
    font-size: 65px;
    justify-self: center;
    grid-row: 2/3;
    grid-column: 3/4;
    font-family:"Aboreto";
}
#text h2{
    text-align: left;
    z-index: 1;
    margin: 0;
    color:rgb(224, 195, 6);
    font-size: 60px;
    grid-row: 2/3;
    grid-column: 3/4;
    font-family: "Aboreto";
}


#logo_link{
    padding-top: 2px;
    z-index: 1;
    justify-self: center;
    align-self: left;
}



.card-img2{
    margin-left: 100px ;
    height: 370px;
    border: 3px solid #15616D;
}
.card-img3{
    margin-left: 25px ;
    height: 370px; 
    border: 3px solid #15616D;

}
.card-img1{
    margin-right: 100px ;
 
    height: 370px;
    border: 3px solid #15616D;
}
.text1{
    font-size: 25px;
    font-family:"Aboreto";
    align-self: center;
    margin-right: 20px ;
    ;
    height: 365px;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

main section img{
    box-sizing: border-box;

}




#livingroom-image{
    display: grid;
    grid-template-columns:1fr 3fr 1fr;
    margin-top: -165px;
    z-index: -1;
}

#living{
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: 1;
}     


.home-image{
    margin-top: 200px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;

}

.card-img, .mountains {
    width: 100%;
}
             
.social a{
    padding: 0;
}

p a {
    padding: 0;
}